<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>

    {% if user.is_authenticated %}

    <h2> Hola {{ user.username }} </h2>

    <p><a href="{% url 'home' %}">Twitter</a></p>

    <p><a href="{% url 'logpout' %}">log out</a></p>
    
    {% else %}
    
    <p>Ingresa tus datos para poder accerder a la aplicacion</p>
    <p><a href="{% url 'login' %}">sing up</a></p>
    
    {% endif %}
    
    <p>si no tienes una cuenta puedes hacer clik aca para registrarte</p>
    <p><a href="{% url 'singup' %}">sing up</a></p>

    
</body>
</html>