{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" src="/Style/style.css">
</head>
<body>

    <h1>alskjflkasjdf;ljasd;lfj</h1>
    

        {% for publicacion in publicaciones_list %}

            <a href="{% url 'detail' publicacion.pk %}">{{ publicacion.titulo }}</a>

        {% endfor %}

        <p><a href="{% url 'create' %}" ><input type="submit" value="Crear"></a></p>


        
        
        
        <button class="button-crear">Crear</button>
    </body>
    </html>
{% endblock %}