<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post_detail</title>
</head>
<body>
    
    {% extends "base.html" %}

    {% block content %}

    <p>PRUEBA</p>

    <h2>{{ object.titulo }}</h2>
    <H3>{{ object.descripcion }}</H3>

    <!-- este if te quita el error, de que si no tienes una imagen cargada -->
    {% if object.image  %}

    <img src="{{ object.image.url }}" alt="">
    
    {% endif %}
        
    <a href="{% url 'update' object.pk %}"> <input type="submit" value="update"> </a>
    <a href="{% url 'delete' object.pk %}"> <input type="submit" value="delete"> </a>

    {% endblock %}

</body>
</html>