<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post_update</title>
</head>
<body>
    
    {% extends "base.html" %}

    {% block content %}
    
    <form method ="post" enctype="multipart/form-data"> <!-- {% comment %} permite mostrar imagnes en los fomularios e insertarlos {% endcomment %} -->
    
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Update">
        
    </form>

    {% endblock  %}

</body>
</html>